// _online-settings.scss - theme_options/dark/user-profile
////////////////////////////////////////////////////////////////////////////////


.Profile.Section-EditProfile.OnlineNow{
  h2{
    color: $page-headers;
  }
}
