// _user-profile.scss - theme-options/dark
// User Profile Styles
// Default styles found in custom_components/_user-profile.scss
////////////////////////////////////////////////////////////////////////////////


// About Section
.Profile{
  .H{
    color: $page-headers;
    a{
      @extend %link;
    }
  }
  #Status{
    color: $silver-sand;
    a{
      @extend %link;
    }
  }
  .About{
    &:not(dl){
      border-color: $charcoal;
    }
    dt{
      color: $boulder;
    }
    dd{
      color: $silver-sand;
      a{
        @extend %link;
      }
    }
  }
}

// Profile message button
.NavButton{
  &:hover{
    color: lighten($oil, 50%);
  }
}

// Profile Warning Section
.Profile{
  .Warnings{
    border-color: $charcoal;
    div{
      color: $paragraph-text;
    }
  }
}

// Notifications
.Profile{
  .DataListWrap{
    div{
      color: $paragraph-text;
    }
  }
}

// Profile Photo
.PhotoWrapLarge{
  background-color: $rangoon-green;
  background: url($profile-background-image) no-repeat center;
  .ChangePicture{
    @include link-colors($dark-gray, $white, $link-border);
  }
  .ProfilePhotoLarge{
    border-color: $checkbox-border;
  }
}
