// _user-inbox.scss - theme-options/dark
//////////////////////////////////////////////////////////////////////


// User Inbox
.Conversation{
  .Excerpt{
    a{
      color: $silver-sand;
    }
  }
  .Meta{
    span{
      color: $paragraph-text;
    }
  }
}

// Users Title
body.inbox{
  .DataListWrap{
    .Users > a{
      &:hover{
        border-color: $link-border;
      }
    }
  }
}

// User Inbox Messages
body.Section-Conversation{
  .H{
    a{
      @extend %link;
    }
  }
  .Conversation{
    .Meta{
      .Name{
        @extend %link;
      }
    }
    .Message{
      color: $paragraph-text;
    }
  }
  .FormWrapper{
    .Button{
      @extend %primary-btn;
    }
  }
  .page-sidebar{
    .Box{
      h4{
        color: $page-headers;
      }
      &.InThisConversation{
        .PanelInfo{
          .Username{
            color: $silver-sand;
          }
          a:hover .Username{
            color: $white;
          }
        }
      }
      &.AddPeople{
        .Buttons{
          .Button{
            border-color: $primary-btn-border;
          }
        }
      }
    }
  }
}
