// _discussion-polls.scss - partials/custom_components
////////////////////////////////////////////////////////////////////////////////


// Discussion Poll Form
.DP_Question{
  border: none;
  padding: 0;
}

#DP_NextQuestion{
  position: absolute;
  margin-left: rem-calc(-10);
}
#DP_NextQuestion, #DP_PreviousQuestion, #DP_AddOption{
  text-indent: -9999px;
  &:hover{
    border: none;
  }
}

// Discussion Poll Answer Form
.DP_AnswerForm, .DP_ResultsForm{
  font-size: rem-calc(24);
  line-height: rem-calc(34);
  font-weight: 300;
  margin: rem-calc(0 25) !important;
  padding: 0 !important;
  border: none !important;
  @media #{$medium-up} {
    margin: rem-calc(0 85) !important;
  }
  .DP_AnswerQuestions, .DP_ResultQuestions{
    .DP_AnswerQuestion, .DP_ResultQuestion{
      &:not(:first-child){
        padding-top: rem-calc(15);
      }
      span{
        font-size: rem-calc(18);
        line-height: rem-calc(22);
        font-weight: 300;
        &.DP_VoteCount{
          margin-left: rem-calc(50);
        }
      }
      .DP_AnswerOptions, .DP_ResultOptions{
        margin-top: rem-calc(15);
        .RadioLabel{
          font-size: rem-calc(15);
          line-height: rem-calc(22);
        }
        .DP_ResultOption{
          &, & .DP_Bar{
            font-size: rem-calc(15);
            line-height: rem-calc(22);
            margin-top: rem-calc(15);
          }
          .DP_Bar{
            margin: rem-calc(10 5);
          }
        }
      }
    }
  }
}

// Discussion Poll Tools
#DP_Tools{
  margin-left: rem-calc(50);
  li{
    display: inline-block;
    margin-right: rem-calc(15);
    a{
      background-image: none;
      float: none;
      padding-bottom: rem-calc(3);
      border-bottom: 1px solid transparent;
    }
  }
}

// Attach Poll Checkbox
.DiscussionForm .P label{
  &[for=Form_DP_Attach]{
    font-size: rem-calc(15);
    line-height: rem-calc(22);
    font-weight: 300;
    input{
      margin-bottom: rem-calc(-5);
      display: inline-block;
    }
  }
}
