// _main-content.scss --partials
// Layout and base background colors for the main content including
// page-content and page-sidebar.
/////////////////////////////////////////////////////////////////////////
// This file is called in _base.scss


// Main Content items wrapper
.is-content, .BoxFilter, .BoxButtons, .BoxCategories, .Box{
	box-shadow: 0px 2px 0px 0px rgba($black, 0.2);
	background: $seashell;
	margin-bottom: rem-calc(30);
  border-radius: rem-calc(2);
}

.Search .is-content{
  margin-bottom: 0;
}
