// _optionsMenu.scss --partials
// Styles for the discussion options menu flyout.
/////////////////////////////////////////////////////////////////////////
// This file is called in _base.scss


// Position the flyout box
.OptionsMenu{
  .MenuItems{
    left: rem-calc(-60);
    @media #{$medium-up} {
      left: rem-calc(2);
    }
  }
}

// Adjust the flyout handle
.OptionsMenu{
  .Flyout:before,
  .Flyout:after{
    left: rem-calc(72);
    right: auto;
    @media #{$medium-up} {
      left: rem-calc(9);
    }
  }
}

// Position the Options span
.Options{
  position: absolute;
  top: rem-calc(20);
  right: 0;
  @media #{$small-only} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media #{$medium-up} {
    top: rem-calc(55);
    right: rem-calc(45);
  }
  .OptionsTitle{
    padding-left: 0;
  }
}

// Section Discussion Options Spacing
.Section-Discussion{
  .Options{
    right: rem-calc(10);
    @media #{$medium-up} {
      right: rem-calc(20);
    }
    .OptionsTitle{
      margin-right: rem-calc(15);
    }
    .OptionsMenu{
      .MenuItems{
        left: rem-calc(-73);
        @media #{$medium-up} {
          left: rem-calc(-9);
        }
      }
    }
  }
}

// Category Options Spacing
.Section-CategoryList{
  .Options{
    right: rem-calc(10);
    @media #{$medium-up} {
      right: rem-calc(50);
    }
  }
}

// Discussion List Mobile Spacing
@media #{$small-only} {
  .Section-DiscussionList{
    .Options .MenuItems{
      left: rem-calc(-100);
    }
    .Flyout:before,
    .Flyout:after{
      left: rem-calc(112);
    }
  }
}

// Add Bookmark icons
.ItemDiscussion{
  .Options{
    .Bookmark{
      float: left;
      margin-right: rem-calc(5);
      background: url(images/icons/forum.bookmark-main.svg) no-repeat center;
      transition: all .3s ease;
      @media #{$small-only} {
        margin-top: rem-calc(10);
        margin-right: 0;
      }
      @media #{$medium-up} {
        display: none;
      }
      &:hover, &.Active, &.Active:hover, &.Bookmarked{
        background-image: url(images/icons/forum.bookmark.active.svg);
      }
      &.Bookmarked:hover{
        background-image: url(images/icons/forum.bookmark-main.svg);
      }
    }
  }
}
// Show/Hide icons
.ItemDiscussion{
  .AdminCheck{
    @media #{$medium-up} {
      display: none;
    }
  }
  &:hover{
    .Options{
      .Bookmark{
        display: inline-block;
      }
    }
    .AdminCheck{
      display: inline-block;
    }
  }

}
