// _search-results.scss - partials/custom_components
////////////////////////////////////////////////////////////////////////////////


// General Layout
.SearchForm{
  padding: rem-calc(25);
  margin-top: 0;
  .SiteSearch{
    max-width: 100%;
    .InputBox{
      border-radius: rem-calc(3);
      border: 1px solid;
      font-size: rem-calc(18);
      line-height: rem-calc(26);
      height: rem-calc(50);
      padding-left: rem-calc(15);
    }
    .Button{
      background: url(images/icons/forum.search-icon.svg) no-repeat center;
      top: rem-calc(15);
      right: rem-calc(15);
      height: rem-calc(20);
      width: rem-calc(20);
      transition: background .3s ease;
      &:hover{
        background-image: url(images/icons/forum.search-icon.active.svg);
      }
    }
  }
}

// No Results
.Search .NoResults{
  margin: rem-calc(25);
  font-size: rem-calc(16);
}

// PagerControls
.Search{
  .Next, .Previous{
    padding-bottom: rem-calc(3);
    border-bottom: 1px solid transparent;
    padding: rem-calc(1 0 3);
    margin-right: rem-calc(15);
    border-radius: 0;
  }
}

// Search Results
.Item.Item-Search{
  padding: rem-calc(20 25);
  transition: background .3s ease;
  border-top: 1px solid;
  list-style-type: none;
  h3 a{
    font-size: rem-calc(24);
    font-weight: 300;
    line-height: rem-calc(34);
    padding-bottom: rem-calc(3);
    border-bottom: 1px solid transparent;
  }
  .Media-Body{
    span{
      font-size: rem-calc(15);
      font-weight: 300;
      line-height: rem-calc(22);
      &.Bullet{
        padding: rem-calc(0 5);
        font-weight: 700;
      }
      &.MItem-Author{
        a{
          padding-bottom: rem-calc(3);
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

// Removed to make sidebar display consistent when searching, instead of being
// randomly placed in different places inside the view due to a vanilla search bug
.Search .page-sidebar{
  display: none;
}

// Fixes extra margin when vanilla search puts <lis>'s outside of the <ol>
#search-results{
  margin-bottom: 0;
}
