// _buttons.scss - theme-options/dark
// Button Styles
// default styles found in foundation_components/_buttons.scss
////////////////////////////////////////////////////////////////////////////////

// BigButton button colors
.Button.NewDiscussion,
.Button.NewConversation,
.BigButton.Popup,
.BigButton.ClearConversation{
  @extend %btn;
  margin: 1.875rem;
  @extend %primary-btn;
}

// Sign In
.Button{
  &.SignInPopup, &.ApplyButton{
    @extend %btn;
    margin: 0;
  }
  &.ApplyButton{
    margin-left: 0.9375rem;
  }
}

// General Button Styling
.DataListWrap, .FormWrapper,
.AddPeople, .Popup{
  .Buttons .Button{
    @extend %btn;
    margin-top: 0;
  }
}

// General Button Colors
.Buttons{
  .Button{
    @extend %primary-btn;
  }
}

// User Inbox New Conversation Big Button
body.inbox{
  .page-sidebar{
    background: $box-filter-background;
    .is-content{
      background: $body-background;
    }
  }
}

// User Inbox New Conversation Button
.PageControls.Top{
  .BoxButtons{
    .Button{
      border-color: $primary-btn-border;
    }
  }
}

// Form Buttons
.FormWrapper{
  .Buttons{
    .Button{
      height: 2.5rem;
    }
    .CommentButton, .DiscussionButton{
      border-color: $primary-btn-border;
    }
    .PreviewButton, .DraftButton, .Cancel, .WriteButton{
      @extend %gray-btn;
    }
    a.SignInPopup.Stash{
      @extend %secondary-btn;
    }
    .Back a{
      @extend %link;
    }
    .Bullet{
      color: $dark-gray;
    }
  }
}

.DataListWrap{
  .Buttons{
    .Button{
      @extend %primary-btn;
    }
  }
}

.Activity{
  .FormWrapper{
    .Buttons{
      .Button{
        border-color: $primary-btn-border;
      }
    }
  }
}

.Activity{
  .CommentForm{
    #Form_Comment{
      border-color: $primary-btn-border;
    }
  }
}

// Edit Profile, signin & register Buttons
.Profile.Section-EditProfile, .signin, .register{
  .Buttons, p{
    .Button{
      @extend %btn;
      @extend %secondary-btn;
    }
  }
}

// Multiple Entry Js Connect
.signin .MultipleEntryMethods{
  .Button{
    @extend %secondary-btn;
  }
}

// SSO Sign in btn
.GuestBox .P .Primary{
  @extend %btn;
  @extend %secondary-btn;
}

// Popup Buttons
.Overlay{
  .Popup{
    .Body{
      .Buttons .Button{
        @extend %secondary-btn;
        &.Primary, &.Cancel{
          @extend %secondary-btn;
        }
        &.Close{
          @extend %gray-btn;
        }
      }
    }
  }
}

// Profile Ignore Button
.Profile.ignore{
  .IgnoreUserAction{
    .Ignore{
      @extend %btn;
      @extend %secondary-btn;
    }
  }
}

// Change Author Button
.ChangeAuthorForm{
  .Buttons{
    .Button{
      @extend %secondary-btn;
    }
  }
}

// Discussion Polls Button
#DP_NextQuestion, #DP_AddOption{
  border: none;
  @extend %btn;
}
.DP_AnswerForm{
  .Buttons{
    .Button{
      @extend %btn;
      @extend %secondary-btn;
    }
  }
}

// Popup Flag Button
.Buttons{
  #Form_Flagthis{
    @extend %secondary-btn;
  }
}

// Admin SignIn
#Form_User_SignIn{
  .Buttons .Button{
    @extend %btn;
    @extend %secondary-btn;
  }
}

// Js Connect
.connect .Connect{
  .ButtonContainer .Button{
    @extend %btn;
    @extend %secondary-btn;
  }
}

// Sign in Js Connect Buttons
.signin .MultipleEntryMethods{
  .Button{
    @extend %btn;
  }
}
