// _guest-box.scss - theme_options/dark/
////////////////////////////////////////////////////////////////////////////////


// JS Connect
.JsConnect-Connect{
  .ConnectLink{
    .Username, .ConnectLabel{
      color: $white;
    }
    &:hover{
      .ConnectLabel{
        border-color: $link-border;
      }
    }
  }
}

// Guest Box Styling
.GuestBox{
  h4{
    color: $page-headers;
  }
  p{
    color: $paragraph-text;
  }
  .Button{
    @extend %secondary-btn;
  }
}
