// _my-drafts.scss - theme_options/dark
////////////////////////////////////////////////////////////////////////////////


// General Layout
.Drafts{
  .Draft{
    &:hover{
      background: rgba($white, 0.03);
    }
    .ItemContent{
      .Title{
        @extend %link;
      }
      .Excerpt{
        a{
          color: $paragraph-text;
          &:hover{
            border-color: $link-border;
          }
        }
      }
    }
  }
}

// Delete Button
.Drafts{
  .Draft{
    .Options{
      .Delete{
        &:hover{
          color: $white;
          background: transparent;
        }
      }
    }
  }
}
