// _new-message.scss - theme-options/dark
//////////////////////////////////////////////////////////////////////


// New Message
.Section-PostConversation{
  .Buttons{
    .Button.DiscussionButton{
      border-color: $primary-btn-border;
    }
  }
}
