// _off-canvas.scss - theme-options/dark
// Offcanvas Styles
// default styles found in foundation_components/_offcanvas.scss
////////////////////////////////////////////////////////////////////////////////

// Tab bar and side menu background color
.off-canvas-wrap{
	.tab-bar{
		background: $tab-bar-background;
	}
	.right-off-canvas-menu, .left-off-canvas-menu{
		background: $off-canvas-background;
    li:hover{
      background: $off-canvas-background-hover;
    }
	}
}

// Tab bar custom image
.tab-bar{
	.title{
		padding-left: 20px;
		.logo{
			width: $logo-width;
			background: url($tab-bar-logo) no-repeat center;
			background-size: contain;
			text-indent: -99999px;
		}
	}
}

// Tab-bar borders
.off-canvas-wrap{
	.tab-bar{
		border-color: $bastille;
	}
  .TitleBar{
    border-color: $bastille;
  }
}

// Profile image
.off-canvas-wrap{
	.ProfilePhoto{
    border-color: $profile-photo-border;
	}
}

// Username (signedin)
.off-canvas-wrap{
	.UserName{
		color: $white;
	}
}

// Avatar Placeholder
.off-canvas-wrap{
	.right-menu-signedout{
		a{
			color: rgba($snow, 0.5);
			&:hover{
				color: $white;
			}
		}
	}
}

// Menu Header
.left-off-canvas-menu, .right-off-canvas-menu{
	.menu-top-bar{
		background: $off-canvas-background;
		color: $silver-sand;
		border-bottom: 1px solid $bastille;
	}
}

// Menu List Items
.left-off-canvas-menu, .right-off-canvas-menu{
	.off-canvas-list{
		a{
			color: $paragraph-text;
			padding: 0.5rem 0 0.5rem 2.313rem;
			&:hover{
				color: $white;
				background: $side-nav-bg-hover;
			}
		}
	}
}
.left-off-canvas-menu{
	.off-canvas-list{
		a{
			&:hover{
				border-left: 2px solid $link-border !important;
			}
		}
	}
}
.right-off-canvas-menu{
	.off-canvas-list{
		a{
      span{
        background-color: transparent;
        color: $paragraph-text;
      }
			&:hover{
				border-right: 2px solid $link-border !important;
			}
		}
	}
}

// Menu Seperator
.left-off-canvas-menu, .right-off-canvas-menu{
	.menu-seperator{
		border-top: 1px solid $bastille;
	}
}

// Forum Stats Styles
.ForumStats{
	h4{
		color: $paragraph-text;
	}
	.FSBox span{
		color: $paragraph-text;
	}
}

.exit-off-canvas{
	svg{
		fill: $close-icon-color;
		&:hover{
			fill: darken($close-icon-color, 20%);
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
