// _search-results.scss - theme_options/dark
////////////////////////////////////////////////////////////////////////////////


// General Layout
.SearchForm{
  .SiteSearch{
    .InputBox{
      @extend %input-box;
    }
  }
}

// No Results
.Search .NoResults{
  color: $silver-sand;
}

// PagerControls
.Search{
  .Next, .Previous{
    @extend %link;
  }
}

// Search Results
.Item.Item-Search{
  background: $box-filter-background;
  border-color: $charcoal;
  &:hover{
    background: rgba($white, 0.03);
  }
  h3 a{
    @extend %link;
  }
  .Media-Body{
    span{
      color: $mountain-mist;
      &.MItem-Author{
        color: $mountain-mist;
        a{
          @extend %link;
        }
      }
    }
    .Summary{
      color: $silver-sand;
    }
  }
}
