// _sub-header.scss - theme-options/dark
// Sub-header Styles
// default styles found in custom_components/_sub-header.scss
////////////////////////////////////////////////////////////////////////////////


// Subheader background
.sub-header{
	background: $sub-header-background url($sub-header-image) no-repeat center -90px;
}

// Search button styling
.big-search{
	background: transparent;
	border-color: $search-input-border;
	.InputBox, .Button{
		background: transparent;
	}
	.InputBox{
		background: rgba($lightblack, 0.65);
		color: $white;
		&::-webkit-input-placeholder{color: $white}
		&:-moz-placeholder{color: $white}
		&::-moz-placeholder{color: $white}
		&:-ms-input-placeholder{color: $white}
		&:focus{
			background: rgba($lightblack, 0.65);
			&::-webkit-input-placeholder{color: rgba($white, 0.5);}
			&:-moz-placeholder{color: rgba($white, 0.5)}
			&::-moz-placeholder{color: rgba($white, 0.5)}
			&:-ms-input-placeholder{color: rgba($white, 0.5)}
		}
	}
	.Button{
		border-color: $search-input-border;
		background: rgba($lightblack, 0.75);
	}
}
