// _tags.scss - theme-options/dark
///////////////////////////////////////////////////////////////////////////


.Tag-Announcement{
  background-color: transparent;
  color: $picton-blue;
}
.Tag-Closed{
  background: transparent;
  color: $scarlet;
}
