//
// # Button Groups
//
// Button groups are containers for related action items. They're great when
// you need to display a group of actions in a bar. These build off the button
// styles and work perfectly with the grid.
//
// No styleguide reference.

// Variables
// -----------------------------------------------------------------------------

// $include-html-button-classes: $include-html-classes;

// Sets the margin for the right side by default, and the left margin if right-to-left direction is used
// $button-bar-margin-opposite: rem-calc(10);
// $button-group-border-width: 1px;

// Library
// -----------------------------------------------------------------------------
@import "foundation/foundation/components/button-groups";

// -----------------------------------------------------------------------------

@include exports("vanilla-button-groups") {

  .ButtonGroup {
    position: relative;
  }

}
