//
// # Dropdown
//
// We removed the various dropdowns within different UI elements for
// Foundation 5. Instead, we created a universal dropdown plugin that will
// attach dropdowns or popovers to whatever element you need.
//
// No styleguide reference.

// Variables
// -----------------------------------------------------------------------------

// $include-html-dropdown-classes: $include-html-classes;

// We use these to controls height and width styles.
// $f-dropdown-max-width: 200px;
// $f-dropdown-height: auto;
// $f-dropdown-max-height: none;
// $f-dropdown-margin-top: 2px;

// We use this to control the background color
// $f-dropdown-bg: #fff;

// We use this to set the border styles for dropdowns.
// $f-dropdown-border-style: solid;
// $f-dropdown-border-width: 1px;
// $f-dropdown-border-color: scale-color(#fff, $lightness: -20%);

// We use these to style the triangle pip.
// $f-dropdown-triangle-size: 6px;
// $f-dropdown-triangle-color: #fff;
// $f-dropdown-triangle-side-offset: 10px;

// We use these to control styles for the list elements.
// $f-dropdown-list-style: none;
// $f-dropdown-font-color: #555;
// $f-dropdown-font-size: rem-calc(14);
// $f-dropdown-list-padding: rem-calc(5, 10);
// $f-dropdown-line-height: rem-calc(18);
// $f-dropdown-list-hover-bg: #eeeeee;
// $dropdown-mobile-default-float: 0;

// We use this to control the styles for when the dropdown has custom content.
// $f-dropdown-content-padding: rem-calc(20);

// Library
// -----------------------------------------------------------------------------
@import "foundation/foundation/components/dropdown";

// -----------------------------------------------------------------------------

@include exports("vanilla-dropdown") {

  .FlyoutMenu,
  .MenuItems {
    @include dropdown-container;

    & {
      top: 100%;
      right: auto;
      left: 0;
      display: none;
      width: auto;
      min-width: ($f-dropdown-max-width / 2);
    }

    > li {
      @include dropdown-style;
    }

    .ButtonGroup.Open & {
      display: block;
    }
  }

  .ToggleFlyout {
    position: relative;
  }

}
