//
// # Inline Lists
//
// This simple construct creates a horizontal list of links, like in a footer.
// Use it when you want more control than spaces between links.
//
// No styleguide reference.

// Variables
// -----------------------------------------------------------------------------

// $include-html-inline-list-classes: $include-html-classes;

// We use this to control the margins and padding of the inline list.
// $inline-list-top-margin: 0;
// $inline-list-opposite-margin: 0;
// $inline-list-bottom-margin: rem-calc(17);
// $inline-list-default-float-margin: rem-calc(-22);

// $inline-list-padding: 0;

// We use this to control the overflow of the inline list.
// $inline-list-overflow: hidden;

// We use this to control the list items
// $inline-list-display: block;

// We use this to control any elements within list items
// $inline-list-children-display: block;

// Library
// -----------------------------------------------------------------------------
@import "foundation/foundation/components/inline-lists";

// -----------------------------------------------------------------------------

@include exports("vanilla-inline-lists") {

  // Nothing to see here... yet!

}
