//
// # Labels
//
// Labels are useful inline styles that can be dropped into body copy to call
// out certain sections or to attach metadata. For example, you can attach a
// label that notes when something was updated.
//
// No styleguide reference.

// Variables
// -----------------------------------------------------------------------------

// $include-html-label-classes: $include-html-classes;

// We use these to style the labels
// $label-padding: rem-calc(4 8 6);
// $label-radius: $global-radius;

// We use these to style the label text
// $label-font-sizing: rem-calc(11);
// $label-font-weight: normal;
// $label-font-color: #333;
// $label-font-color-alt: #fff;
// $label-font-family: $body-font-family;

// Library
// -----------------------------------------------------------------------------
@import "foundation/foundation/components/labels";

// -----------------------------------------------------------------------------

@include exports("vanilla-labels") {

  .Tag,
  .Count,
  .Alert {
    @include label-base;
    @include label-size(rem-calc(4 8));
  }

  .Tag {
    @include label-style;
    font-size: rem-calc(15);
    line-height: rem-calc(22);
  }

  .Count {
    @include label-style($radius: 1000px);
  }

  .Alert {
    @include label-style($alert-color, $radius: 1000px);
  }

  .Tag-Announcement {
    @include label-style($success-color);
  }

  .Tag-Closed {
    @include label-style($alert-color);
  }

}
