//
// # Panels
//
// A panel is a simple, helpful Foundation component that enables you to
// outline sections of your page easily. This allows you to view your page
// sections as you add content to them, or add emphasis to a section. The width
// is controlled by the grid columns you put them inside.
//
// No styleguide reference.

// Variables
// -----------------------------------------------------------------------------

// $include-html-panel-classes: $include-html-classes;

// We use these to control the background and border styles
// $panel-bg: scale-color(#fff, $lightness: -5%);
// $panel-border-style: solid;
// $panel-border-size: 1px;

// We use this % to control how much we darken things on hover
// $panel-function-factor: -11%;
// $panel-border-color: scale-color($panel-bg, $lightness: $panel-function-factor);

// We use these to set default inner padding and bottom margin
// $panel-margin-bottom: rem-calc(20);
// $panel-padding: rem-calc(20);

// We use these to set default font colors
// $panel-font-color: #333;
// $panel-font-color-alt: #fff;

// $panel-header-adjust: true;
// $callout-panel-link-color: $primary-color;

// Library
// -----------------------------------------------------------------------------
@import "foundation/foundation/components/panels";

// -----------------------------------------------------------------------------

@include exports("vanilla-panels") {

  // Nothing to see here... yet!

}
