//
// # Reveal
//
// Modal dialogs, or pop-up windows, are handy for prototyping and production.
// Foundation includes Reveal our jQuery modal plugin, to make this easy for
// you.
//
// No styleguide reference.

// Variables
// -----------------------------------------------------------------------------

// $include-html-reveal-classes: $include-html-classes;

// We use these to control the style of the reveal overlay.
// $reveal-overlay-bg: rgba(#000, .45);
// $reveal-overlay-bg-old: #000;

// We use these to control the style of the modal itself.
// $reveal-modal-bg: #fff;
// $reveal-position-top: rem-calc(100);
// $reveal-default-width: 80%;
// $reveal-modal-padding: rem-calc(20);
// $reveal-box-shadow: 0 0 10px rgba(#000,.4);

// We use these to style the reveal close button
// $reveal-close-font-size: rem-calc(22);
// $reveal-close-top: rem-calc(8);
// $reveal-close-side: rem-calc(11);
// $reveal-close-color: #aaa;
// $reveal-close-weight: bold;

// We use these to control the modal border
// $reveal-border-style: solid;
// $reveal-border-width: 1px;
// $reveal-border-color: #666;

// $reveal-modal-class: "reveal-modal";
// $close-reveal-modal-class: "close-reveal-modal";

// Library
// -----------------------------------------------------------------------------
@import "foundation/foundation/components/reveal";

// -----------------------------------------------------------------------------

@include exports("vanilla-reveal") {

  .Overlay {
    @include reveal-bg;
    display: block;

    > .Popup {
      @include reveal-modal-base;
      @include reveal-modal-style;
      display: block;
      visibility: visible;
      top: $reveal-position-top !important;

      a.Close {
        @include reveal-close;
      }
    }
  }

}
