//
// # Visibility
//
// Visibility classes let you show or hide elements based on screen size or
// device orientation. You can use visibility classes to control which elements
// users see depending on their browsing environment.
//
// No styleguide reference.

// Variables
// -----------------------------------------------------------------------------

// $include-html-visibility-classes: $include-html-classes;

// Library
// -----------------------------------------------------------------------------
@import 'foundation/foundation/components/visibility';

// -----------------------------------------------------------------------------

@include exports("vanilla-visiblity") {

  .Hidden {
    display: none;
  }

}
