// _icons.scss --partials
// This file sets up our icons.
/////////////////////////////////////////////////////////////////////////

$icons : (
  activity:  '\EA01',
  administrator: '\EA02',
  bookmark: '\EA03',
  bookmarked: '\EA04',
  categories: '\EA05',
  comment: '\EA06',
  discussions: '\EA07',
  drafts: '\EA08',
  flag: '\EA09',
  inbox: '\EA0A',
  moderator: '\EA0B',
  notification: '\EA0C',
  open-main-menu: '\EA0D',
  options: '\EA0E',
  participated: '\EA0F',
  recent-discussions: '\EA10',
  rss:'\EA11',
  search: '\EA12',
  user-discussion: '\EA13',
  views-icon: '\EA14',
  quote: '\EA15',
  facebook: '\EA16',
  twitter: '\EA17',
  youtube: '\EA18'
);
