// _settings.scss - theme_options/dark/
////////////////////////////////////////////////////////////////////////////////

// Theme Fonts
$theme-font-light: $quicksand;
$theme-font-normal: $open-sans;
$theme-font-bold: $merriweather;
