// _discussion-general.scss - theme_options/dark/vanilla-components
////////////////////////////////////////////////////////////////////////////////


// Page Discussion List
.is-content{
  h1{
    color: $page-headers;
  }
  .Discussion, .Comment,
  .Category{
    .Title a,
    .Username,
    .Title{
      color: $white;
    }
    p, time{
      color: $meta-text;
    }
    .MItem{
      color: $meta-text;
      a{
        @extend %link;
      }
    }
  }
}
.Discussions,
.CategoryList{
  .Item.Checked{
    background: rgba($side-nav-bg-hover, 0.75);
    border-color: $link-border;
    &:hover{
      background: $side-nav-bg-hover;
    }
  }
  .Item{
    &.Read:hover{
      background: rgba($side-nav-bg-hover, 0.85);
    }
    &:hover{
      background: $side-nav-bg-hover;
    }
    .Title a:hover,
    .TitleWrap a:hover{
      border-color: $link-border;
    }
    .MItem{
      &.LastCommentBy a:hover{
        border-color: $link-border;
      }
    }
  }
}

// Blockquote Styles
blockquote.Quote{
  background: transparent;
  border-color: $charcoal;
  color: $paragraph-text;
}
code.CodeInline{
  background: $lightblack;
  color: $paragraph-text;
}

// Reactions Styles
.Reactions{
  a{
    color: $white;
  }
}

// Comment Header
.CommentHeading{
  color: $page-headers;
  border-color: $charcoal;
}

// Comment Admin Checked
.MessageList{
  .Item.Checked{
    background: rgba($white, 0.03);
  }
}

// Comment Form Notes
.Note.Closed{
  color: $scarlet;
}
.MessageForm{
  .H{
    color: $page-headers;
  }
}

// General Element Colors
.Empty{
  color: $silver-sand;
}
.PageDescription{
  color: $silver-sand;
}

.Discussion .Item{
  &:hover{
    background: transparent;
  }
}
