// _change-password.scss - partials/custom_component/user-profile
////////////////////////////////////////////////////////////////////////////////


.PasswordStrength{
  .Background{
    border-radius: rem-calc(3);
  }
  .StrengthText{
    font-size: rem-calc(15);
    line-height: rem-calc(22);
    padding-top: rem-calc(5);
  }
}
