// _edit-thumbnail.scss - partials/custom_components/user-profile
////////////////////////////////////////////////////////////////////////////////


.Profile.Section-EditProfile.thumbnail{
  .Thumbnail{
    margin: rem-calc(16 10);
    @media #{$medium-up} {
      margin: rem-calc(16 25);
    }
    .Info{
      font-size: rem-calc(15);
      line-height: rem-calc(22);
      padding-left: 0;
      border: none;
    }
    .Buttons{
      border-top: 1px solid;
      padding-top: rem-calc(25);
      margin-left: 0;
    }
  }
}

// Edit Thumbnail background fix
.jcrop-holder{
  img{
    max-width: none;
  }
  .jcrop-tracker{
    background: transparent;
  }
}

// Preview Thumbnail fix
#preview{
  width: 100%;
  max-width: none;
}
