// _preferences.scss - partials/custom_components/user-profile
////////////////////////////////////////////////////////////////////////////////


.Preferences{
  h2{
    font-size: rem-calc(24);
    line-height: rem-calc(34);
    margin-left: rem-calc(10);
    @media #{$medium-up} {
      margin-left: rem-calc(25);
    }
  }
  .PreferenceGroup{
    width: 100%;
    border: none;
    margin-bottom: rem-calc(30);
    thead, tbody, tr, td{
      border: none;
      padding: rem-calc(0 10);
      @media #{$medium-up} {
        padding: rem-calc(0 25);
      }
    }
    thead td{
      font-size: rem-calc(13);
      padding-bottom: rem-calc(20);
      line-height: rem-calc(22);
      &.PrefCheckBox, &.TopHeading{
        padding-left: 0;
        @media #{$medium-up} {
          padding-left: rem-calc(15);
        }
      }
      &.TopHeading{
        padding-bottom: 0;
      }
    }
    tbody td{
      font-size: rem-calc(15);
      line-height: rem-calc(26);
      @media #{$medium-up} {
        line-height: rem-calc(40);
      }
    }
  }
  .InfoMessage{
    border: none;
    font-size: rem-calc(15);
    line-height: rem-calc(22);
    text-align: center;
    padding: rem-calc(30 0 35);
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: rem-calc(25 10);
    @media #{$medium-up} {
      margin: rem-calc(25);
    }
  }
}

body.Profile.preferences{
  .FormTitleWrapper{
    margin: 0;
  }
}
