// _signature.scss - partials/custom_components/user-profile
////////////////////////////////////////////////////////////////////////////////


.Profile.Section-EditProfile.signature{
  .FormTitleWrapper{
    h2.H{
      margin-left: rem-calc(10);
      @media #{$medium-up} {
        margin-left: rem-calc(25);
      }
    }
    .SignatureRules{
      font-size: rem-calc(13);
    }
    .TextBoxWrapper{
      textarea{
        font-size: rem-calc(15);
        line-height: rem-calc(22);
        border-radius: rem-calc(3);
        padding: rem-calc(10 15);
      }
    }
  }
}
