//
// # Discussion
//
// Basic discussion item styling.
//
// No styleguide reference.

// Dependencies
// -----------------------------------------------------------------------------
@import "type";

// -----------------------------------------------------------------------------

@include exports("vanilla-discussion") {

  .Item {
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;

    .Title,
    .TitleWrap {
      &,
      a {
        margin: 0;
        font-size: $paragraph-font-size;
        line-height: $paragraph-line-height;
      }
    }

    .Meta {
      color: $small-font-color;

      .MItem {
        margin: 0 .5em;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        + .MItem {
          margin-left: 0;
        }
      }
    }

    .Author {
      .PhotoWrap {
        float: left;
        margin-right: 1em;
      }

      .Username {
        overflow: hidden;
      }
    }

    .Message {
      margin-top: 1em;
    }
  }

  .Item-Header {
    margin-bottom: 1em;
    @include clearfix;

    .Meta {
      overflow: hidden;
    }
  }

  .Item.Activity,
  .Item.ActivityComment {
    .ItemContent {
      overflow: hidden;
    }
  }

  .Options {
    float: right;
  }

}
