// _input-box.scss - theme_options/modules/
////////////////////////////////////////////////////////////////////////////////


// Inputs
@mixin input-boxes($color, $background, $border-color){
  color: $color;
  background: $background;
  border-color: $border-color;
}

// Forms
@mixin form-colors($color, $background, $border-color){
  color: $color;
  background: $background;
  border-color: $border-color;
}
