// _online-colors.scss - theme_options/modules/
// Online now plugin color mixin
////////////////////////////////////////////////////////////////////////////////


@mixin online-color($color){
  color: $color;
  &:hover{
    color: $color;
    border-color: $link-border;
  }
}
