//
// # Avatars
//
// Avatars are used throughout Vanilla to identify users whenever they post
// discussions, write comments, share things on their walls, earn badges, and
// much, much more.
//
// This partial sets up a baseline size for profile photos (base line-height in
// pixels, multipled by 2) and nothing more.
//
// No styleguide reference.


// Variables
// -----------------------------------------------------------------------------

$profile-photo-default-size: floor($rem-base * $paragraph-line-height) * 2 !default;

// -----------------------------------------------------------------------------

@include exports("vanilla-avatars") {

  .ProfilePhoto,
  .ProfilePhotoMedium {
    width: $profile-photo-default-size;
    height: $profile-photo-default-size;
  }

  // Avatar Post Styles
  .Activities,
  .Conversations,
  .Discussion{
    .Author{
      width: rem-calc(40);
      margin-top: rem-calc(30);
      padding-left: rem-calc(10);
      @media #{$medium-up} {
        padding-left: rem-calc(25);
      }
      a, img{
        width: rem-calc(40);
        height: rem-calc(40);
      }
      img{
        position: static;
        margin-top: rem-calc(5);
      }
    }
  }
}

.Author .PhotoWrap{
  margin-right: rem-calc(10);
  @media #{$medium-up} {
    margin-right: rem-calc(20);
  }
}
